<p>child-of-child works!</p>

<div *ngFor="let repository of repositories">
  {{ repository.fullName }},
  <a href="javascript:" (click)="select.next(repository.ownerId)">{{
    repository.ownerName
  }}</a>
</div>
