<div>auth works!</div>
<form [formGroup]="authForm" (ngSubmit)="onFormSubmit()">
  <div>
    <span>User Name</span> <input type="text" formControlName="userName" />
    <span
      style="color: red;"
      *ngIf="authForm.get('userName').dirty || authForm.get('userName').touched"
    >
      {{ getErrorMessages(authForm.get("userName").errors) }}
    </span>
  </div>

  <div>
    <span>Email</span> <input type="text" formControlName="email" />
    <span
      style="color: red;"
      *ngIf="authForm.get('email').dirty || authForm.get('email').touched"
    >
      {{ getErrorMessages(authForm.get("email").errors) }}
    </span>
  </div>

  <div formGroupName="passwords">
    <div>
      <span>Password</span> <input type="text" formControlName="password" />
      <span
        style="color: red;"
        *ngIf="
          authForm.get('passwords').get('password').dirty ||
          authForm.get('passwords').get('password').touched
        "
      >
        {{ getErrorMessages(authForm.get("passwords").get("password").errors) }}
      </span>
    </div>

    <div>
      <span>Confirm Password</span>
      <input type="text" formControlName="passwordConfirmation" />
      <span
        style="color: red;"
        *ngIf="
          authForm.get('passwords').get('passwordConfirmation').dirty ||
          authForm.get('passwords').get('passwordConfirmation').touched
        "
      >
        {{ getErrorMessages(authForm.get("passwords").errors) }}
      </span>
    </div>
  </div>

  <button type="submit" [disabled]="authForm.pristine">Submit</button>
</form>
