<div class="ideals-snack-bar" [ngClass]="snackBarClasses" *ngIf="snackBar">
  <p class="ideals-snack-bar__message" *ngIf="snackBar.messages.length === 1">{{ snackBar.messages[0] }}</p>
  <ul *ngIf="snackBar.messages.length > 1">
    <li class="ideals-snack-bar__message" *ngFor="let message of snackBar.messages">{{ message }}</li>
  </ul>

  <i class="ideals-snack-bar__close material-icons" (click)="hide()">X</i>
</div>
