.ideals-snack-bar {
  position: absolute;
  z-index: 900;
  width: 100%;
  padding: 10px 50px;
  background-color: green;
  color: black;
  line-height: 22px;
  text-align: center;
  animation-duration: 1s;
  animation-fill-mode: both;

  &.top-center {
    top: 0;
    right: 0;
  }

  &.open {
    animation-name: slideInDown;
  }

  &.hidden {
    animation-name: slideOutUp;
  }

  &.error {
    background: red;
  }

  &__message {
    margin: 0;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12px;
    cursor: pointer;
    user-select: none;
  }
}

@keyframes slideInDown {
  0% {
    visibility: visible;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
